.colour { color:#2BAAB1; } 
/*  --- COLOUR -- */
.colour,
div.tabs ul.nav-tabs li.active a, 
.panel-heading a:hover, 
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span, 
.sidebar li a:hover, 
ul.tags li a:hover,
.timeline .event:after 
{ 
	color:#2BAAB1!important;
}

/*  --- BACKGROUND COLOUR -- */
.colour-bg, 
.service, 
.bars-wrapper .progress-bar, 
div.progressBar, 
.quote blockquote:after
 { 
	background: #2BAAB1!important;
}

/*  ---------------------------------------------------------------
  	OVERLAYS FOR IMAGE BACKGROUNDS
    --------------------------------------------------------------- */

/*  --- DARK OVERLAY -- */
#milestones, #charts,  #big_quote, #big_quote_01, #big_quote_02, #big_quote_03, #big_quote_04, #big_quote_05, .dark_overlay { box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2); }

/*  ---WHITE OVERLAY -- */
#video,  #cta { box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.9); }

/*  ---------------------------------------------------------------
  	BUTTONS
    --------------------------------------------------------------- */

input.btn,
.btn-big:hover,
.btn:hover,
.btn-big:focus, 
.btn-big-colour,
#pricing .btn, 
#pricing .btn:focus, 
#pricing  .btn.inverse:hover,  
#pricing2 .btn,  
#pricing2 .btn:focus,  
#pricing2  .btn.inverse:hover, 
.btn-med:hover
{
	background: #2BAAB1!important;
	color: #fff;
} 

.btn,
input.btn:hover,
.btn-big-colour:hover, 
#pricing .btn:hover, 
#pricing .btn:focus, 
#pricing .btn.inverse,
#pricing2 .btn.inverse,
#pricing2 .btn:hover, 
#pricing2 .btn:focus
{
	background: #2e3138!important;
	color: #fff!important;
}

::selection { background: #2BAAB1; color: #fff; }
::-moz-selection { background: #2BAAB1; color: #fff; }

.lead a { color: #2BAAB1; }
.lead a:hover { color:#2e3138; }

/*-----------------------------------------------------------------------------------*/
/*	WORK PAGES
/*-----------------------------------------------------------------------------------*/	

.media-boxes-filter li a.selected { background: #2BAAB1; border:1px solid #2BAAB1; }
.media-boxes-filter li a:hover{ border:1px solid #333!important; background: #333!important; color: #fff; }
.media-box-date, .media-box-more a { color: #2BAAB1!important;}
 .media-box-more a:hover{ color: #222!important; }

/***************************************************
	work2
 ***************************************************/
#work2 .media-box-title { color: #f5f5f5!important; }
#work2 .media-box-more a:hover { color: #bbb!important; }

/***************************************************
	NEWSLETTER - INDEX 3
 ***************************************************/
.cd-form { background: #2BAAB1; }
.cd-email:focus { background-color: #2e3138; }
.cd-submit { background-color:#e84e41; color: white; }	
.no-touch .cd-submit:hover, .cd-submit:focus { background-color: #3c424f; }
.cd-response-success { background-color: #2e3138; }

/*  ---	MAP ZOOM -- */
#zoom-in, #zoom-out { background-color: rgba(43,170,177, 0.9); }
.no-touch #zoom-in:hover, .no-touch #zoom-out:hover { background-color: #2BAAB1; }


