<div class="footer-no-marg alt_footer dark_footer">
							<div class="container">
								<div class="row">
							<!--column 1-->
								<div class="col-md-6">								
								  <ul class="fa-ul">
										<li><i class="fa-li fa fa-home"></i>Santiago de Chile</li>
										<li><i class="fa-li fa fa-send"></i> <a href="mailto:WhatsApp y Telegram">WhatsApp y Telegram</a></li>
										<li><i class="fa-li fa fa-phone"></i> (+569) 91237406</li>
									</ul>									
								</div>							
							
							<!--column 2-->
								<div class="col-md-6 hidden-xs">
                                	<!-- <img src="img/logo_footer.png" alt="" class="pull-right"/><br>	 -->							
									<span class="wow fadeIn pull-right" data-wow-offset="80" data-wow-duration="0s">
										<a target="_blank" href="https://twitter.com/RebelCodeCL"><i class="fa fa-twitter fa-2x"></i></a>
									</span>
								</div>
                                
							  </div>
							</div>						
					</div>